html,
body {
  margin: 0;
  height: 100%;
}


*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: white;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5ebe0;
    min-height: 5rem;
    margin-bottom: 2rem;
}

.nav-links{
display: flex;
justify-content: space-around;
width: 40%;
list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #6c584c;
    font-weight: 500;
    letter-spacing: 2px;
}

.logo{
    color: black;
    letter-spacing: 3px;
    font-family: cursive;
    
}


main, section{
    display: flex;
    height: 84%;
    align-items: center;
}
.col, .sec1{
    flex-basis: 50%;
}
.sec1{
  padding: 2rem;
}

iframe{
    border-width: 0px;
}
iframe{
    border: 1px solid black;
}

p, h1{
    margin-top: 2rem;
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: black;
}

p{
    line-height: 25px;
    width: 80%;
    letter-spacing: 1px;
    color: black;

}

.btn-shop{
    background-color: #b08968;
    color: white;
    padding: 0.6rem 1.4rem;
    border-radius: 1.5rem;
}

.to-do{
    width: 40%;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid black;;
}
fieldset{
    margin: 1rem;
    width: 40%;
}
.col3{
    background-color: #9c6644;
    color: white;
    border-radius: 10px 0 0 10px;
}
.col4{
    background-color: #7f5539;
    color: white;
}
.col5{
    background-color: #b08968;
    color: white;
    border-radius: 0 10px 10px 0;


}
#make-itwhite{
    color: black;
    padding-bottom: 30px;
}
.contain-shop{
    display: flex;
    padding: 20px;
    width: 90%;
    padding-left: 170px;
}
.col-all{
    padding: 30px;
}
.fa-solid{
    margin-bottom: 20px;
}
h3{
    margin: 20px 20px;
}
.btn-contain{
    background-color: #ede0d4;
    padding: 10px 20px;
    border-radius: 20px;
}
.red{
    color: red;
}
.white{
    color: white;
    background-color: black;
}
.c-site-footer{
padding: 2rem;
background-color: white;
}

.c-site-footer > .socials{
    
    padding-bottom: 1rem;
    text-align: center;
}

.c-site-footer ul{
    text-align: center;

}

.c-site-footer ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;    
}

a{
    text-decoration: none;
}

.socials a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    color: black;
}

.c-site-footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 11px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.foot-nav a{
    color: black;
}

